.navbar {
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
}


.icono-inicio {
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}


.iconos-derecha {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    margin-left: 30%;
}

.listaiconosderecha{
    display: flex;
    align-items: center;
}

img {
    width: 80%;
}


.img-inicio {
    width: 50%;
}

/* //----------------------------------------------------- */

.cuerpo-pag-bateria {
    background-color: #DFDFDF;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-bateria {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80%;

}

.bateria {
    background-color: rgb(0, 0, 0);
    width: 80%;
    height: 90%;
    margin: auto;
    
}

.parte1 {
    display: flex;
    height: 20%;
}

.palos {
    display: flex;
    height: 20%;
}

.parte2 {
    display: flex;
    height: 20%;
}

.parte3 {
    display: flex;
    height: 20%;
}