.navbar {
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
}


.icono-inicio {
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}


.iconos-derecha {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    margin-left: 30%;
}

.listaiconosderecha {
    display: flex;
    align-items: center;
}

img {
    width: 80%;
}


.img-inicio {
    width: 50%;
}

/* //----------------------------------------------------- */

.cuerpo-pag-bateria {
    background-color: #DFDFDF;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-bateria {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 90%;
    margin-top: 90px;

}

.bateria {
    width: 80%;
    height: 90%;
    margin: auto;
}

.parte1 {
    display: flex;
    height: 20%;
}

.botoncrash1 {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20%;
    height: 14%;
    margin-top: 4%;
    margin-left: 12%;
    position: absolute;
    z-index: 5;
}

.imagencrash1 {
    margin-top: -4%;
    margin-left: -18%;
    width: 630px;
    height: 500px;
}

.botonsplash {
    background-color: transparent;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    border: none;
    cursor: pointer;
    width: 10%;
    height: 50%;
    margin-top: 6%;
    margin-left: 47%;
    z-index: 1;
}

.imagensplash {
    margin-top: -150%;
    width: 590px;
    height: 495px;
}

.botoncrash2 {
    background-color: transparent;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 25%;
    height: 100%;
    margin-top: 5%;
    margin-left: 6%;
    z-index: 5;
}

.imagencrash2 {
    width: 630px;
    height: 500px;
        
}

.palos {
    display: flex;
    height: 20%;
}

.imagenpalocrash1 {
    width: 612px;
    height: 495px;
    margin-left: 7.5%;
}

.imagenpalosplash {
    width: 512px;
    height: 495px;
    margin-top: -10%; 
    margin-left: -12%;
    z-index: 0;
}

.imagenpalocrash2 {
    width: 612px;
    height: 495px;
    margin-left: -14%;
    z-index: 0;
}

.parte2 {
    display: flex;
    height: 20%;
}

.botonhihat {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 60%;
    margin-top: 0.5%;
    margin-left: 11%;
    z-index: 4;
}

.imagenhihat {
    width: 612px;
    height: 495px;
    z-index: 4;
}

.botontom1 {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 130%;
    border: none;
    cursor: pointer;
    margin-top: -0.5%;
    margin-left: 10%;
    z-index: 2;
}

.imagentom1 {
    width: 612px;
    height: 495px;
    z-index: 2;
}

.botontom2 {
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 110%;
    border: none;
    cursor: pointer;
    margin-top: -3%;
    margin-left: 10%;
    z-index: 2;
}

.imagentom2 {
    width: 612px;
    height: 495px;
    z-index: 2;
}

.parte3 {
    display: flex;
    height: 20%;
}

.botonsnare {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 130%;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 1.5%;
    margin-left: 20%;
    z-index: 3;
}

.imagensnare {
    width: 612px;
    height: 495px;
    z-index: 3;
}

.botonbass {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 130%;
    margin-top: 2%;
    margin-left: 17%;
    z-index: 1;
}

.imagenbass {
    width: 612px;
    height: 495px;
    z-index: 1;
}

.botonkick {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 130%;
    margin-top: 4.75%;
    margin-left: 16%;
    z-index: 3;
}

.imagenkick {
    width: 612px;
    height: 495px;
    z-index: 3;
}

.imagenTAP{
    display: none;
}