.navbar {
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
}


.icono-inicio {
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}


.iconos-derecha {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    margin-left: 30%;
}

.listaiconosderecha {
    display: flex;
    align-items: center;
}

img {
    width: 80%;
}


.img-inicio {
    width: 50%;
}

/* //----------------------------------------------------- */

.cuerpo-pag-bateria {
    background-color: #DFDFDF;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-bateria {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80%;

}

.bateria {
    background-color: red;
    width: 80%;
    height: 90%;
    margin: auto;

}

.parte1 {
    display: flex;
    height: 20%;
}

.botoncrash1 {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 13%;
    margin-top: -6%;
    margin-left: 3%;
    position: absolute;
    z-index: 5;
}

.imagencrash1 {
    width: 630px;
    height: 500px;
}

.botonsplash {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 13%;
    margin-top: -15%;
    margin-left: 32%;
    z-index: 1;
}

.imagensplash {
    width: 590px;
    height: 495px;
}

.botoncrash2 {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 13%;
    margin-top: -7%;
    margin-left: 2%;
    z-index: 5;
}

.imagencrash2 {
    width: 630px;
    height: 500px;
}

.palos {
    display: flex;
    height: 20%;
}

.imagenpalocrash1 {
    width: 612px;
    height: 495px;
    margin-left: 7.5%;
}

.imagenpalosplash {
    width: 512px;
    height: 495px;
    margin-top: -10%; 
    margin-left: -12%;
    z-index: 0;
}

.imagenpalocrash2 {
    width: 612px;
    height: 495px;
    margin-left: -14%;
    z-index: 0;
}

.parte2 {
    display: flex;
    height: 20%;
}

.botonhihat {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 13%;
    margin-top: -13%;
    margin-left: -2%;
    z-index: 4;
}

.imagenhihat {
    width: 612px;
    height: 495px;
    z-index: 4;
}

.botontom1 {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: -11%;
    margin-left: 3%;
    z-index: 2;
}

.imagentom1 {
    width: 612px;
    height: 495px;
    z-index: 2;
}

.botontom2 {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: -15%;
    margin-left: -21%;
    z-index: 2;
}

.imagentom2 {
    width: 612px;
    height: 495px;
    z-index: 2;
}

.parte3 {
    display: flex;
    height: 20%;
}

.botonsnare {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: -9%;
    margin-left: 4%;
    z-index: 3;
}

.imagensnare {
    width: 612px;
    height: 495px;
    z-index: 3;
}

.botonbass {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: -9%;
    margin-left: -13%;
    z-index: 1;
}

.imagenbass {
    width: 612px;
    height: 495px;
    z-index: 1;
}

.botonkick {
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: -6%;
    margin-left: -14%;
    z-index: 3;
}

.imagenkick {
    width: 612px;
    height: 495px;
    z-index: 3;
}