.navbar {
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
}


.icono-inicio {
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}


.iconos-derecha {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    margin-left: 30%;
}

.listaiconosderecha{
    display: flex;
    align-items: center;
}

img {
    width: 80%;
}


.img-inicio {
    width: 50%;
}

.contenedorpadre {
    background-color: #DFDFDF;
    width: 100%;
    height: 100vh;
    display: flex;
}

.contenedorhijomain {
    background-color: #000000;
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    margin-top: 11%;
}

.contenedorpiano {
    background-color: #C48F8F;
    width: 95%;
    height: 43vh;
    margin-top: 7%;

}

/* .piano{
    width: 90%;
    height: 80%;
    text-align: center;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}
 */
.teclasnegras{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: flex-start;
    margin: 5px;
    position: absolute;
}

.tecla-negra {
    background-color: #000000;
    position: absolute;
    margin-left: 10.5%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra2 { 
    background-color: #000000;
    margin-left: 14.6%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra3 { 
    background-color: #000000;
    margin-left: 6.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra4 { 
    background-color: #000000;
    margin-left: 2.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra5 { 
    background-color: #000000;
    margin-left: 2.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra6 { 
    background-color: #000000;
    margin-left: 6.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra7 { 
    background-color: #000000;
    margin-left: 2.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra8 { 
    background-color: #000000;
    margin-left: 6.5%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra9 { 
    background-color: #000000;
    margin-left: 2.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra10 { 
    background-color: #000000;
    margin-left: 2.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra11 { 
    background-color: #000000;
    margin-left: 6.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra12 { 
    background-color: #000000;
    margin-left: 2.5%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra13 { 
    background-color: #000000;
    margin-left: 6.5%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra14 { 
    background-color: #000000;
    margin-left: 2.3%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-negra15 { 
    background-color: #000000;
    margin-left: 2.4%;
    width: 1.8rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.teclasblancas{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tecla-blanca{
    width: 5%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
}

button:active{
    background-color: #C48F8F;
}

.img-circulo{
    width: 28%;
    margin-top: 570%;
}

.modulo{
    display: flex;
    justify-content: center;
}

.piano{
    width: 100%;
    height: 80%;
    text-align: center;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}


.tecla-b{
    width: 2.8rem;
    height: 20rem;
    background-color: #FFFFFF;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 0.4rem;
    margin-bottom: 10px;
}

.tecla-n{
    background-color: #000000;
    position: absolute;
    margin-left: 10.5%;
    width: 2rem;
    height: 10rem;
    z-index:2;
    border: 1px solid black;
    cursor: pointer;
}

.tecla-n1{
    margin-left: -3.8rem;
}

.tecla-n2{
    margin-left: 2.9rem;
}

.tecla-n3{
    margin-left: -6.7rem;
}

.tecla-n4{
    margin-left: -0.3rem;
}

.tecla-n5{
    margin-left: 6rem;
}

/* @media only screen and (max-width:1132px) {
    .contenedorpiano{
        height: 80vh;
    }
    .contenedorhijomain{
        height: 82vh;
    }
}

@media only screen and (max-width:592px) {
    .contenedorpiano{
        height: 130vh;
    }
    .contenedorhijomain{
        height: 140vh;
    }
} */

@media all and (min-width: 1131px) and (max-width:1920px) {
    .contenedorpiano{
        height: 42vh;
    }
    .contenedorhijomain{
        height: 55vh;
    }
}
@media all and (min-width: 1024px) and (max-width:1131px) {
    .piano{
        flex-wrap: wrap;
    }
    .contenedorpiano{
        height: 70vh;
    }
    .contenedorhijomain{
        height: 80vh;
    }
}

@media all and (min-width: 592px) and (max-width:1024px) {
    .piano{
        flex-wrap: wrap;
    }
    .contenedorpiano{
        height: 65vh;
    }
    .contenedorhijomain{
        height: 75vh;
    }
}

@media all and (min-width: 480px) and (max-width:592px) {
    .piano{
        flex-wrap: wrap;
    }
    .contenedorpiano{
        height: 95vh;
    }
    .contenedorhijomain{
        height: 105vh;
    }
}